body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

.cell{
    width:75px;
    height: 75px;
    border: 2px solid #ccc;
    line-height: 75px;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

#gameContainer {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}
#statusText {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

#restartBtn {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restartBtn:hover {
    background-color: #0056b3;
}

